.modalArea {
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.container {
  background-color: var(--gray-600);
  width: fit-content;
  height: 245px;
  color: var(--gray-100);
  border-radius: 8px;
}
.container:focus {
  outline: none;
  box-shadow: 5px rgba(0,0,0,0.3);
}
.modalArea header {
  background: var(--gray-600);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 74px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.titleModal {
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--blue-light);  
  
}
.titleTask {
  color: var(--purple-dark);
  margin-left: 8px;
}
.containerBody {
  padding: 1rem;
}

.container input {
  display: flex;
  height: fit-content;
  width: 736px;
  border-radius: 8px; 
  border: 1px solid var(--gray-700);
  background-color: var(--gray-500);
  padding: 1rem;
  color:var(--gray-200);
}
.containerButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.containerButtons button {
  padding: 1rem; 
  height: 52px;
  background: var(--blue-dark);
  border-radius: 8px;
  border: none;
  color: white;
}
.container button:hover{
  background-color: var(--blue-light);
  transition:  background-color 0.1s;
}
.container button:disabled {
  background-color: var(--gray-400);
  color: var(--gray-300);
}

@media (max-width: 769px) {
  .container input {
    width: calc(100vw - 64px);
  }
}